body{
    padding: 0;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-cls img {
    height: 50PX;
    width: 80PX;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    color: rgb(115, 115, 116);

}
.search-bar{
    display: flex;
    border: 1px solid;
    padding: 8px;
    border-radius: 5px;
    width:330px;

}
.search-bar input{
    border: none;
    outline: none;
    width:100%;
}

.fa-user{
    font-size: 30px;
}
.button-cls{
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;

}
.hero-section{
    background-color:#BEB100;
    width: 100%;


}

.hero-container{
    display: flex;

}
.hero-content{
    width: 50%;
}
.hero-content h1{
    font-size: 50px;
    margin-top: 80px;
}
.hero-content button{
    margin-top: 30px;
}
.hero-img{
    width: 50%;
    height: 100%;
}
.hero-img img{
    height: 530px;
    width: 500px;
    padding-left: 100px;
    margin-right: 0;
}

